<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @custumer.customer_id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @custumer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @custumer.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @custumer.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @custumer.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @custumer.address_id %>
</p>

<%= link_to 'Edit', edit_custumer_path(@custumer) %> |
<%= link_to 'Back', custumers_path %>
